@import url("https://rsms.me/inter/inter.css");

:root {
  --bg-darker: #edf2f7;
}

html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  color: #718096;
}

* {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

@supports (font-variation-settings: normal) {
  html,
  body {
    height: 100vh;
    padding: 0;
    margin: 0;
    color: #718096;
  }

  * {
    font-family: "Inter var", sans-serif;
    -webkit-font-smoothing: antialiased !important;
  }
}

.navItem {
  text-decoration: none;
  margin-right: 10px;
}
.navItem:visited {
  color: inherit;
}
.navItem:link {
  color: inherit;
}
.drop-zone {
  margin: 0 auto;
  text-align: center;
  border: 1px solid #edf2f7;
  width: 70%;
  height: 30vh;
  margin-top: 50px;
  color: #718096;
  cursor: pointer;
  border-radius: 4px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
}

.box-shadow {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.search-box {
  border: none;
  background-color: var(--bg-darker);
  height: 35px;
  border-radius: 5px;
  padding-left: 2.5rem;
  font-size: 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 670px;
  background-image: url('/search.svg');
  background-position: 14px 11px; 
  background-repeat: no-repeat;
}

.search-box:focus {
  background-color: white;
}

.files-list {
  margin: 0 auto;
  width: 70%;
}

.file-input:active {
  border: none;
}

.hero {
  width: 70%;
  margin: 0 auto;
}

.search-icon {
  width: 25px;
}
